<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>GeoQuizz</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.18.0/dist/axios.js"></script>
   
    <style>
        #map { 
            height:400px; 
            width: 400px;
            }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>

</head>

<body>
    <div id="application">
        <h1>GeoQuizz</h1>
        
        <!--AFFICHAGE DU JEU-->
        <section v-if="isStarted">
            <!--PARTIE EN COURS-->
            <div v-if="this.compteurPhotos < 11">
                <photos 
                    v-bind:urlphoto="listePhotos[compteurPhotos]"
                    v-on:valider="validChoice">
                </photos>
                <p>Votre score: {{this.score}}</p>
                <div v-if="this.time > 0">
                        <h1>Timer</h1>
                        <p>{{this.time}} secondes restantes</p>
                </div>
                <!--PARTIE TERMINEE-->
                <div v-else>
                        <h1>Timer</h1>
                        <p>Temps écoulé, t'auras pas les points CHEH !</p>
                </div>

            </div>

            <div v-else>
                <p>Partie terminée</p>
                <p>votre score est de {{this.score}}, voulez-vous l'enregistrer ?</p>
                <button v-on:click="saveScore">Oui</button>
                <button v-on:click="backHome">Non</button>
            </div>
        </section>

        <!--HOME-->
        <section v-else>
            <p v-if="errors.length">
                <b>Please correct the following error(s):</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
            <p>
                <label for="pseudo">Entrez votre pseudo</label>
                <br>
                <input type="text" name="pseudo" v-model="pseudo">
            </p>                
            <series v-bind:nbseries="listeSeries"></series>
            <p>
            <button v-on:click="startGame">Lancer la partie</button>
            </p>
        </section>

        <div v-show="isStarted && this.compteurPhotos < 11">
            <div id="map"></div>
        </div>

    </div>
  
    <script src="player-component.js"></script>
    <script src="player.js"></script>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
    <script>
        
        //var p = new Proxy('tcp://www-cache.iutnc.univ-lorraine.fr:3128/') 
        
        var map = L.map('map').setView([51.505, -0.09], 13);

        L.tileLayer('http://korona.geog.uni-heidelberg.de/tiles/roads/x={x}&y={y}&z={z}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        //id: 'mapbox.streets',
        //accessToken: 'your.mapbox.access.token'
        }).addTo(map);
    
        var marker = L.marker([51.5, -0.09]).addTo(map);

        var circle = L.circle([51.508, -0.11], {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.5,
        radius: 500
        }).addTo(map);

        var polygon = L.polygon([
        [51.509, -0.08],
        [51.503, -0.06],
        [51.51, -0.047]
        ]).addTo(map);

        marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
        circle.bindPopup("I am a circle.");
        polygon.bindPopup("I am a polygon.");

        var popup = L.popup()
        .setLatLng([51.5, -0.09])
        .setContent("I am a standalone popup.")
        .openOn(map);

        function onMapClick(e) {
            alert("You clicked the map at " + e.latlng);
        }

        map.on('click', onMapClick);

        var popup = L.popup();

        function onMapClick(e) {
            popup
            .setLatLng(e.latlng)
            .setContent("You clicked the map at " + e.latlng.toString())
            .openOn(map);
        }

        map.on('click', onMapClick)

    </script>

</body>

</html>